.ProfileCard{
  width: 300px;
  height: 300px;
  padding: 100px;
  border: 15px solid rgba(0,189,183,255);
  margin: auto;
  background-color: rgba(197,233,109,255);
  font-size: 11px;
  color: rgba(255,71,71,255);
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ProfileCard2{
  width: 300px;
  height: 300px;
  padding: 100px;
  border: 15px solid rgba(0,189,183,255);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-469px);
  margin: auto;
  background-color: rgba(197,233,109,255);
  font-size: 11px;
  color: rgba(255,71,71,255);
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ProfileCard3{
  width: 300px;
  height: 300px;
  padding: 100px;
  border: 15px solid rgba(0,189,183,255);
  position: absolute;
  left: -30px;
  top: -15px;
  transform: translateX(-1335px);
  margin: auto;
  background-color: rgba(197,233,109,255);
  font-size: 11px;
  color: rgba(255,71,71,255);
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}